* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    padding: 20px;

    background-color: #d8d6d5;

}

.nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 10;
    background: transparent;
    background-color: #64646498;
    backdrop-filter: blur(12px) saturate(180%) brightness(130%) contrast(95%);
}

.navlink {
    text-decoration: none;
    color: rgb(211, 211, 211);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 1rem;
    transition: all 0.35s ease;
    position: relative;
    overflow: hidden;
}


.navlink:hover {
    color: #0f0f0f;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(12px) saturate(180%) brightness(130%) contrast(95%);
    -webkit-backdrop-filter: blur(12px) saturate(180%) brightness(130%) contrast(95%);
    box-shadow: 0 6px 25px rgba(255, 255, 255, 0.25), 0 4px 30px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateY(-1px);
}


.navlink::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.05));
    opacity: 0;
    transition: opacity 0.35s ease;
    border-radius: inherit;
}

.navlink:hover::before {
    opacity: 1;
}


.logo {


    color: rgb(255, 252, 252);

}

.hero {
    background-image: url('https://images.pexels.com/photos/13680054/pexels-photo-13680054.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    position: relative;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    overflow: hidden;
    padding: 100px 20px 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #cd7115;
    transition: 1.9s ease-in-out;
}



.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.7));
    z-index: 1;
}

.heroimg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;


    transition: transform 15s ease;
}



.hero h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 700;
    margin-bottom: 20px;
    z-index: 2;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    animation: fadeInDown 1.2s ease forwards;
}

.hero p {
    font-size: clamp(1rem, 2.5vw, 1.3rem);
    max-width: 800px;
    margin: 0 auto 25px;
    z-index: 2;
    opacity: 0.9;
    line-height: 1.6;
    animation: fadeInUp 1.4s ease forwards;
}

.hero a {
    margin-top: 10px;
    display: inline-block;
    padding: 12px 28px;
    background: linear-gradient(90deg, #000, #222);
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 500;
    z-index: 2;
    transition: all 0.3s ease;
    animation: fadeInUp 1.8s ease forwards;
    transition: color 0.6s;
}

.hero a:hover {
    background: #cd711585;

    color: #000;
    transform: scale(1.05);
    backdrop-filter: blur(5px) contrast(80%) brightness(120%);
}


.tittle {

    margin: 20px 0;
}

.newarrivalcards {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: 18%;
    background: #f3f3f3;
    border-radius: 10px;
    padding: 25px 40px 40px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    scrollbar-color: #f68b1e #f3f3f3;
    box-shadow: 0px 1px 1px rgb(119, 118, 118);
}

.newarrivalcards::-webkit-scrollbar {
    height: 6px;
    color: #f68b1e;
}

.newarrivalcards::-webkit-scrollbar-thumb {
    background: #f68b1e;
    border-radius: 10px;
}

.newarrivalcards::-webkit-scrollbar-track {
    background: #f68b1e;
    color: #f68b1e;
}


.card {
    background: #ffffff6d;
    border: 1px solid #edebeb;
    backdrop-filter: blur(12px) saturate(180%) brightness(130%) contrast(95%);
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;

    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}


.cardimg {
    width: 100%;
    height: 220px;
    object-fit: cover;
    background: #fff;
    padding: 10px;
}

.cardinfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-grow: 1;

    padding: 12px 14px 16px;
}

.productname {
    font-size: 15px;
    color: #111;
    font-weight: 600;
    margin-bottom: 6px;
    line-height: 1.3;
}

.rating {
    font-size: 13px;
    color: #f7a400;
    margin-bottom: 6px;
}

.rating span {
    color: #555;
    font-size: 12px;
    margin-left: 4px;
}

.price {
    font-size: 16px;
    font-weight: 700;
    color: #111;
    margin-bottom: 10px;
}

.actionbtns {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.wishcartbtn {
    flex: 2;
    margin-top: auto;
    background: #f40202c6;
    backdrop-filter: blur(15px) saturate(180%) brightness(130%) contrast(95%);
    border: 1px solid #fc1900;
    border-radius: 8px;
    color: #111;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 0;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s ease;
    text-decoration: none;
    width: 40px;

}

.success {
    color: green;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}

.info {
    color: blue;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
}


.cartbtn {
    flex: 3;
    margin-top: auto;
    background: #f68b1e;
    backdrop-filter: blur(15px) saturate(180%) brightness(130%) contrast(95%);
    border: 1px solid #f68b1e;
    border-radius: 8px;
    color: #111;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 4px;
    text-align: center;
    cursor: pointer;
    transition: background 0.2s ease;
    text-decoration: none;
}

.cartbtn:hover {
    background: #f7ca00;
}


@media (max-width: 1024px) {
    .newarrivalcards {
        grid-auto-columns: 25%;
    }
}

@media (max-width: 768px) {
    .newarrivalcards {
        grid-auto-columns: 40%;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .newarrivalcards {
        grid-auto-columns: 70%;
    }

    .cardimg {
        height: 180px;
    }
}

.others {
    padding: 40px 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}





@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.mobilenav {
    display: none;
}


.menuopenbtn {
    display: none;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.mobilenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    backdrop-filter: blur(10px);
    display: none;
    z-index: 1000;
}

.mobilenav.visible {
    display: flex;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1100;
}

.closebtn:hover {
    color: #ccc;
}








@media (max-width: 768px) {
    .menuopenbtn {
        display: block;
    }

    .nav .navlinks {
        display: none;

    }

    .nav .icons {
        display: none;
    }

    .hero {
        padding-top: 120px;
        height: 50vh;
    }




    .mobilenav .navlinks {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .navlinks:hover {
        color: blue;
    }

    .icons {
        display: flex;
        gap: 15px;
        margin-top: 20px;
    }

    .others {
        padding: 40px 20px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);

    }


}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 100px;
  justify-content: center;

}
.search input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  flex: 1;
}

.search button {
  background-color: #f68b1e;
  border: none;
  color: #fff;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.search button:hover {
  background-color: #d97515;
}

.layout {
    display: flex;
    align-items: flex-start;
}

.sideFilter {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 60px;
    position: sticky;
    top: 0;
    padding: 25px;
    min-height: 100vh;
    background-color: #e0e0e0;
    border-right: 1px solid #ccc;
}

.sideFilter div {
    margin-top: 20px;
    padding: 5px;
    cursor: pointer;
}
.sideFilter label{
    padding-top: 30px;
}

.mainarea {
    flex: 1;
    padding: 20px;
}

.cart-link {
    position: relative;

    text-decoration: none;
    font-size: 20px;
}

.cart-link i {
    font-size: 22px;
}

.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #f68b1e; /* Amazon orange */
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    padding: 3px 6px;
    line-height: 1;
}
.wish-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background-color: #ef5550; /* Amazon orange */
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    padding: 3px 6px;
    line-height: 1;
}
